DATABASE_URL=mongodb+srv://erp-management:xhHWFvAb8u0mAgwr@cluster0.psgygfs.mongodb.net/erp_management?appName=Cluster0
NODE_ENV=development
PORT=5000
BCRYPT_SALT_ROUND=8
JWT_ACCESS_SECRET=8b2520fd4c5ea03c51e1c4c9c8cdfe0863d36bc11c881c3615bb958aca2995fd
JWT_REFRESH_SECRET=c96316a5b594059ed753d63ab3c328e331db5d4517e8b2260d2753e570feb2eb
JWT_ACCESS_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret